{% extends 'base.html' %}
{% block content %}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        <div class="post-preview">
            <a href="index.html">
                <h2 class="post-title">Minimalstic Living</h2>
                <h3 class="post-subtitle">Minimalistic Living embodies simplicity and harmony, emphasizing clean lines,
                    uncluttered spaces, and purposeful
                    design.</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="inspiration.html">Minimalistic Living</a>
                on April 06, 2024
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
        <div class="post-preview">
            <a href="index.html">
                <h2 class="post-title">Clean Countryside Living</h2>
            </a>
            <p class="post-meta">
                Posted by
                <a href="inspiration.html">Minimalistic Living</a>
                on April 04, 2024
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
        <div class="post-preview">
            <a href="index.html">
                <h2 class="post-title">Seaside Serenity</h2>
                <h3 class="post-subtitle">Seaside Serenity invites you to a minimalist retreat perched at the edge of
                    the sea, where tranquility meets modern elegance. This light, airy sanctuary boasts a serene palette
                    of soft greys, seamlessly blending with the natural beauty of its coastal surroundings. With clean
                    lines and understated sophistication, every corner of this minimalist abode exudes a sense of calm
                    and tranquility. Step inside and feel the gentle sea breeze caress your skin as you soak in the
                    panoramic views of the ocean.
                </h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="inspiration.html">Minimalistic Living</a>
                on April 03, 2024
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
        <div class="post-preview">
            <a href="index.html">
                <h2 class="post-title">Modern Family Home</h2>
                <h3 class="post-subtitle">Welcome to our serene haven of modern minimalism, where the warmth of wood
                    meets contemporary elegance. Our spacious abode, crafted for large families, harmoniously blends
                    sleek lines with natural textures, creating an inviting retreat for all. Nestled amidst tranquil
                    surroundings, every corner exudes a sense of simplicity and sophistication. Step inside and discover
                    a sanctuary where modern living embraces the timeless allure of wood, offering comfort and style for
                    generations to come.</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="inspiration.html">Minimalistic Living</a>
                on April 01, 2024
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts
                →</a></div>
    </div>
</div>

{% endblock %}