{% extends 'base.html' %}
{% block content %}

<h2>{{ page_title }}</h2>
<p>
    Minimalistic Living embodies simplicity and harmony, emphasizing clean lines, uncluttered spaces, and purposeful
    design. It encourages intentional choices, focusing on what truly matters and eliminating excess to cultivate a
    sense of calm and tranquility in everyday life.
</p>

    {% for item in inspiration %}

        <div class="row featurette houses-section">

            {% if loop.index % 2 != 0 %}
                <div class="col-md-7">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src=" {{ item.image_source }}" class="image-responsive featurette-image"
                            alt="">
                </div>
                {% if loop.index != loop.length %}
                    <hr class="featurette-divider">
                {% endif %}

            {% else %}
                <div class="col-md-5">
                    <img src=" {{ item.image_source }}" class="image-responsive featurette-image"
                        alt="">
                </div>
                <div class="col-md-7">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>

                {% if loop.index != loop.length %}
                    <hr class="featurette-divider">
                {% endif %}

            {% endif %}

        </div>

    {% endfor %}


{% endblock %}